<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316315829454-pgbo6d47oq5b3idmqt0an8gbs97lbh7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316315829454-pgbo6d47oq5b3idmqt0an8gbs97lbh7c</string>
	<key>API_KEY</key>
	<string>AIzaSyCmW-k6PgKZVsXgg51YhlGs2h4YTr85_LY</string>
	<key>GCM_SENDER_ID</key>
	<string>316315829454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryApp</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-d3184</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-d3184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316315829454:ios:16ada98759aeba1be7bc9f</string>
</dict>
</plist>